# Demo kickstart file to install CentOS 8
#version=RHEL8
url --url=http://mirror2.hs-esslingen.de/centos/8/BaseOS/x86_64/os/

# Setup
ignoredisk --only-use=vda
autopart --type=lvm

# Partition clearing information
clearpart --none --initlabel

# Use graphical install
graphical

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp1s0 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$rgh4pXnVU6vvkSO1$UfsG4yQpWvb2mz5wvrJfb/JfjZKcOH5eYxepj6pAawvgt2gkxkfbRbusW3JTJYWcvNxIXdl5XqWmrhJAbQjA31

# Run the Setup Agent on first boot
firstboot --disable

# Do not configure the X Window System
skipx

# System services
services --enabled="chronyd"
firewall --enabled="ssh"

# System timezone
timezone Europe/Berlin

# Add user
user --groups=wheel --name=admin --password=$6$/eMU634uUrT0SnKO$3Akt0zeG1m.gwluxM83LjP0bxiigcCb7prNskjnDqkoeEAScoqTyim0Qz4N8AkaW/iv4lAPhkJNUqiiNbptd4/ --iscrypted --gecos="admin"

%packages
@^server-product-environment
kexec-tools
postfix
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end


%post --log=/var/log/ks.post.log
#!/bin/bash

## Build vars used for motd
BUILD_DATE=`date '+%Y-%m-%d, %H:%m:%S'`
OS="CentOS 8.1.1911"

# Create MOTD
echo "Creating /etc/motd"
mv /etc/motd /etc/motd-backup
cat << MOTD > /etc/motd

$OS

Build date: $BUILD_DATE

MOTD

# Update all packages
#echo "Updating packages ..."
#/usr/bin/yum clean all
#/usr/bin/yum update -y

# Clean up all yum caches
echo "Cleaning up yum caches"
/usr/bin/yum clean all

echo "End of Kickstart"

%end
