##version=CENTOS7

# Install from an installation tree on a remote server.
# Required when using a minimal ISO image
url --url=http://mirror.centos.org/centos/7/os/x86_64/

text

# Add additional repository
repo --name="EPEL" --baseurl=http://dl.fedoraproject.org/pub/epel/7/x86_64/

# System keyboard
keyboard --vckeymap=sg --xlayouts='de'

# System language
lang en_US.UTF-8

# Setup network interfaces via DHCP
network --device=enp1s0 --bootproto=dhcp --activate
network --device=enp2s0 --bootproto=dhcp --activate
network --device=enp3s0 --bootproto=static --ip=10.0.0.1 --netmask=255.255.255.0 --activate
network --hostname=scanie

# Set root password here (required by KS)
# python3 -c 'import crypt; print(crypt.crypt("Admin123", "$6$SomeSalt"))'
#rootpw --iscrypted $6$SomeSalt$r.BIAr5XooMu...
rootpw --plaintext 12345678
firewall --enabled --service=ssh
firstboot --disabled

# SELinux configuration
selinux --enforcing

# System services
services --enabled="chronyd"
services --enabled="sshd"
services --disabled="avahi-daemon"

# Installation logging level
logging --level=debug

# System timezone
timezone Europe/Berlin

# System bootloader configuration
bootloader --location=mbr --driveorder=sda,hda,vda --append="tsc=reliable divider=10 plymouth.enable=0 console=ttyS0,115200 quit vconsole.keymap=de vconsole.font=latarcyrheb-sun16"

# Clear the Master Boot Record
zerombr

# Automatically create partitions, as LVM
ignoredisk --only-use=sda
autopart --type=lvm --encrypted --passphrase=12345678

# Partition clearing information
clearpart --all --initlabel --drives=sda

# Reboot after installation
reboot

%packages
@core
acpid
bannergrab
bridge-utils
chrony
ciphertest
curl
dnsenum
ettercap
fping
halberd
hping3
httping
iputils
lbd
man
masscan
minicom
mtr
nbtscan
netsniff-ng
net-snmp-utils
net-tools
ngrep
nikto
nmap
ntp
ntpdate
nuttcp
onesixtyone
openldap-clients
openssh-clients
scapy
screen
snmpcheck
sqlninja
swaks
telnet
testssl
tlssled
tmux
traceroute
unzip
wget
wireshark
yersinia
zip

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'
%end

%post --log=/var/log/ks.post.log
#!/bin/bash

## Build vars used for motd
BUILD_DATE=`date '+%Y-%m-%d, %H:%m:%S'`
OS="CentOS 7.6-1810"

# Create MOTD
echo "Creating /etc/motd"
mv /etc/motd /etc/motd-backup
cat << MOTD > /etc/motd

$OS

Build date: $BUILD_DATE

# Update all packages
echo "Updating packages ..."
/usr/bin/yum clean all
/usr/bin/yum update -y

# Clean up all yum caches
echo "Cleaning up yum caches"
/usr/bin/yum clean all 

curl -s 'https://raw.githubusercontent.com/zerotier/download.zerotier.com/master/htdocs/contact%40zerotier.com.gpg' | gpg --import && \
if z=$(curl -s 'https://install.zerotier.com/' | gpg); then echo "$z" | sudo bash; fi

echo "End of Kickstart"

%end
